<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.lgbt.pubhub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppPubHub"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SignInActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".trivia.creation.CreateQuestionsActivity"
            android:label="@string/title_activity_create_questions" />
        <activity android:name=".trivia.start.TriviaGameListActivity"/>
        <activity
            android:name=".trivia.creation.GameSlideCreationActivity"
            android:parentActivityName=".trivia.start.TriviaGameListActivity"/>
        <activity android:name=".trivia.creation.RoundListActivity"/>
        <activity android:name=".trivia.creation.RoundCreationActivity"/>
        <activity android:name=".trivia.creation.QuestionListActivity" />
        <activity android:name=".trivia.creation.GameFinishActivity" />
        <activity android:name=".trivia.start.QRCodeScanner" />
        <activity android:name=".trivia.start.HostOptionsActivity" />
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />

    </application>

</manifest>