<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.lgbt.pubhub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SignInActivity"
            android:label="@string/app_name"
            android:theme="@style/AppPubHub">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".trivia.creation.CreateQuestionsActivity"
            android:label="@string/title_activity_create_questions"
            android:theme="@style/AppPubHub"
            />
        <activity android:name=".trivia.start.TriviaGameListActivity"
            android:theme="@style/AppPubHub"/>
        <activity
            android:name=".trivia.creation.GameSlideCreationActivity"
            android:parentActivityName=".trivia.start.TriviaGameListActivity"
            android:theme="@style/AppPubHub"/>
        <activity android:name=".trivia.creation.RoundListActivity"
            android:theme="@style/AppPubHub"/>
        <activity android:name=".trivia.creation.RoundCreationActivity"
            android:theme="@style/AppPubHub"/>
        <activity android:name=".trivia.creation.QuestionListActivity"
            android:theme="@style/AppPubHub"/>
        <activity android:name=".trivia.creation.GameFinishActivity"
            android:theme="@style/AppPubHub"/>
        <activity android:name=".trivia.start.TeamSelectionActivity"
            android:theme="@style/AppPubHub"/>
        <activity android:name=".trivia.start.QRCodeScanner"
            android:theme="@style/AppPubHub"/>
        <activity android:name=".trivia.start.WaitingForGameActivity"
            android:theme="@style/AppPubHub"/>
        <activity android:name=".chat.MessageListActivity" />
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity
    </application>

</manifest>